// Fuentes
$fuente_principal:'Poppins', sans-serif;
$fuente_segunda:'Roboto', sans-serif;

// Colores

$negro: #000;
$blanco: #fff;
$grisClaro: #5f5f5f;
$narajanClaro: #FAD7A0;
$azulOscuro: #2980B9;
$negroOscuro: #283747;
$morado: #A569BD;
$rojo: #E74C3C;

//Media Queries
$telefono: 576px;
$tablet: 768px;
$desktop: 992px;
$desktopLarge: 1200px;
$tv: 1400px;